In [2]:
import pandas_plink as pp
import pandas as pd

In [18]:
snp_meta = pd.read_csv('../data/snpinfo_mult_1kg_hm3', sep='\t').rename(columns={'CHR': 'chrom', 'BP': 'pos'})
snp_meta.columns = [str.lower(c) for c in snp_meta.columns]
snp_meta

,chrom,snp,pos,a1,a2,frq_afr,frq_amr,frq_eas,frq_eur,frq_sas,flp_afr,flp_amr,flp_eas,flp_eur,flp_sas
0,1,rs2185539,566875,T,C,0.12480,0.0000,0.0000,0.0000,0.0000,1,0,0,0,0
1,1,rs6681105,592075,C,T,0.02194,0.0000,0.0000,0.0000,0.0000,1,0,0,0,0
2,1,rs3131972,752721,A,G,0.70950,0.2637,0.2341,0.1610,0.2219,-1,1,1,1,1
3,1,rs3131969,754182,A,G,0.64750,0.2435,0.2669,0.1282,0.1912,-1,1,1,1,1
4,1,rs1048488,760912,C,T,0.55520,0.1945,0.1161,0.1600,0.1892,-1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1297426,22,rs6010077,51193445,A,G,0.04236,0.0000,0.0000,0.0000,0.0000,1,0,0,0,0
1297427,22,rs5771007,51195728,C,T,0.00000,0.0000,0.0248,0.0000,0.0000,0,0,1,0,0
1297428,22,rs3888396,51211392,C,T,0.01135,0.1037,0.2956,0.1561,0.2863,1,1,1,1,1
1297429,22,rs2238837,51212875,C,A,0.48110,0.3473,0.3502,0.3250,0.3149,1,1,1,1,1
1297430,22,rs28729663,51219006,A,G,0.33510,0.2277,0.1230,0.1581,0.1472,1,1,1,1,1

In [8]:
(alleles, samples, genotypes) = pp.read_plink("../data/1000_genomes_bbf/chr22*",
                             verbose=False)
#(alleles, samples, genotypes) = pp.read_plink("../data/output_cis_eqtls/TRR_SAS*",
#                             verbose=False)

#genotypes = pd.DataFrame(genotypes.compute())

In [21]:
snp_meta[snp_meta['pos']=='16050075']

Empty DataFrame
Columns: [chrom, snp, pos, a1, a2, frq_afr, frq_amr, frq_eas, frq_eur, frq_sas, flp_afr, flp_amr, flp_eas, flp_eur, flp_sas]
Index: []

In [11]:
alleles

        chrom snp   cm       pos a0 a1        i
0          22   .  0.0  16050075  G  A        0
1          22   .  0.0  16050115  A  G        1
2          22   .  0.0  16050213  T  C        2
3          22   .  0.0  16050319  T  C        3
4          22   .  0.0  16050527  A  C        4
...       ...  ..  ...       ... .. ..      ...
1097194    22   .  0.0  51241342  A  C  1097194
1097195    22   .  0.0  51241386  G  C  1097195
1097196    22   .  0.0  51244163  G  A  1097196
1097197    22   .  0.0  51244205  T  C  1097197
1097198    22   .  0.0  51244237  T  C  1097198

[1097199 rows x 7 columns]

In [19]:
alleles.merge(snp_meta[['chrom', 'snp', 'pos']], on=['chrom', 'pos'])

Empty DataFrame
Columns: [chrom, snp_x, cm, pos, a0, a1, i, snp_y]
Index: []

In [24]:
test_generate = pd.read_csv('../data/simulated_filtered_TTR_AFR_chr18.scan.tsv', sep='\t')
test_generate

,chrom,snp,pos,a0,a1,maf,ld.score,ld.score.causal,gwas.sim,gwas.true,gwas.beta,gwas.se,eqtl.true,eqtl.beta,eqtl.se,eqtl.model,eqtl.model.beta
0,18,.,31091985,A,G,0.455371,113.652535,2.923285e-03,std,0.0,0.003564,0.00316,0.0,0.026922,0.044140,enet,-0.000000
1,18,.,31092087,A,T,0.779879,24.601844,2.093148e-03,std,0.0,0.002725,0.00316,0.0,0.052934,0.044092,enet,0.000000
2,18,.,31092103,C,CT,0.907716,19.649569,4.325983e-05,std,0.0,-0.001276,0.00316,0.0,-0.110521,0.043878,enet,-0.014900
3,18,.,31092225,G,C,0.984871,33.550439,8.371482e-05,std,0.0,-0.003518,0.00316,0.0,0.087209,0.043983,enet,0.000000
4,18,.,31092239,A,G,0.987141,41.969211,1.332074e-03,std,0.0,-0.006851,0.00316,0.0,-0.070862,0.044042,enet,-0.003241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4662,18,.,32098046,A,G,0.973525,20.195294,8.268786e-07,std,0.0,-0.000917,0.00316,0.0,0.034936,0.044128,enet,0.000000
4663,18,.,32098126,T,A,0.937973,20.623757,2.923662e-05,std,0.0,0.007115,0.00316,0.0,0.019637,0.044147,enet,0.000000
4664,18,.,32098397,G,A,0.987897,11.933679,2.612609e-03,std,0.0,0.009940,0.00316,0.0,0.075261,0.044027,enet,0.000000
4665,18,.,32098645,GT,G,0.596823,36.105561,5.204863e-02,std,0.0,0.021268,0.00316,0.0,-0.014764,0.044151,enet,-0.000000
4666,18,.,32098811,A,C,0.160363,24.865373,9.608144e-03,std,0.0,0.009256,0.00316,0.0,0.028867,0.044137,enet,0.000000